
<!-- Template driven form -->
<form #detailsForm="ngForm" *ngIf="dataLoaded | async" (ngSubmit)="Save(detailsForm.value)">


    <div class="row">
        <div class=col-md-6>
            <mat-checkbox name="IsActive" class="example-margin" [(ngModel)]="detailsModel.IsActive"
                [labelPosition]="after">
                Active
            </mat-checkbox>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" type="submit" style="float:right"
                [disabled]="!detailsForm.form.valid">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-select [items]="companies" bindLabel="Name" bindValue="ID" [multiple]="false" [closeOnSelect]="true"
                [hideSelected]="true" placeholder="Select Company *" [(ngModel)]="detailsModel.Companies_ID"
                name="Companies" appendTo="body" required>
            </ng-select>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width" style="width:100%;">
                <input matInput placeholder="Name" [(ngModel)]="detailsModel.SiteName" name="Name" required>
            </mat-form-field>
        </div>      
        <div class="col-md-12">
            <mat-form-field class="example-full-width" style="width:100%;">
                <input matInput
                    placeholder="Email Addresses (seperate multiples by adding a semi-colon )"
                    [(ngModel)]="detailsModel.EmailAddresses" name="EmailAddresses">
            </mat-form-field>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="step === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div style="width:100%;">Address</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>                  
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="Address1" [(ngModel)]="detailsModel.Address1"
                                    name="Address1" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="Address2" [(ngModel)]="detailsModel.Address2"
                                    name="Address2">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="Address3" [(ngModel)]="detailsModel.Address3"
                                    name="Address3">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="Town" [(ngModel)]="detailsModel.Town" name="Town">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="County" [(ngModel)]="detailsModel.County" name="County">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" style="width:100%;">
                                <input matInput placeholder="PostCode" [(ngModel)]="detailsModel.PostCode"
                                    name="PostCode">
                            </mat-form-field>
                        </div>
                    </div>

                </mat-expansion-panel>
                 <mat-expansion-panel [expanded]="step === 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div style="width:100%;">Kits <div *ngIf="detailsModel.Kits?.length > 0" class="counterBadge">
                                {{ detailsModel.Kits.length }}</div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <ng-select [items]="kits" bindLabel="KitName" bindValue="ID" [multiple]="true"
                                    [closeOnSelect]="true" [hideSelected]="true" placeholder="Select Kits *"
                                    [(ngModel)]="detailsModel.Kits" name="Kits" appendTo="body">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>

</form>