        <div class="row" style="margin:0px">          
            <div class="col-md-4 offset-md-4 loginArea">
                <div class="row">                   
                    <div class="col-md-12" style="padding:20px;">
                        <img src="../../../assets/img/2030Logo_Hdr.png" style="width:100%">  
                        <!-- <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2> -->
                    </div>
                    <!-- <div  class="col-md-6">
                        <h2 routerLink='/user/registration' routerLinkActive='active'>Sign Up</h2>
                    </div> -->
                    
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
  